/* ########### CSS dokument ########## */

/* Google Font */

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	font-family: 'Roboto', sans-serif;

}

/*Mobilni uredaji*/

body{
	
	//background: url("slike/pocetna.png") no-repeat center center fixed; 
	//background-image:url(../slike/pocetna.png);
	background-size: cover;
	background-color:#eee;
	font-family:Arial,Helvetica,sans-serif;
	//line-height:2.4em;
	font-size:1.2em;
}



/*
#container{
	padding:10px;
	margin:5px;
}
*/

#container{
	padding:2%;
	margin:2% 2% 2% 2%;
}




a:link{
	color:#333333;
	text-decoration:none;

}

a:visited{
	color:#999999;
}

a:hover{
	color:#FF9933;
}

a:focus{
	color:#000099;
}



a:active{
	color:#990000;
}


.topnav{
	background-color: rgba(0,0,0,0.8);  
}

.topnav ul{
	margin:0;
	padding:0;
	list-style: none;  
}

.topnav ul > li.active {
  background-color: rgba(255,255,255,.8);
}

.responsive ul > li.active {
  background-color: rgba(255,255,255,.8);
}

.topnav ul > li a.open-menu  {
display:inline-block;
padding: 10px;
	margin:0;
}


.topnav ul > li:not(.open-menux) {
display:none;
padding: 10px;
	margin:0;

}


.topnav ul > li:not(.open-menux):hover{
	background-color: rgba(255,255,255,.8);
}



.topnav ul > li:not(.open-menux):focus{
	background-color: rgba(255,255,255,.8);
}


.topnav ul > li:hover a{
	color: #666;
	transition:0.3s;
}
.topnav ul > li > a{
	color: #fff;
}
.topnav ul > li > a:not(a.open-menu):hover{
	text-decoration:underline;
}


.topnav ul > li > a.open-menu:active{
	transition: transform 1s;
	transform:rotate(180deg);
}

.topnav ul > li > a.open-menu:hover{
	transition: transform 1s;
	transform:rotate(180deg);
}

.topnav.responsive ul > li:not(.open-menux) {
display:block;
}


/* CSS za obrasce kontakt i poruka */


textarea {
  width: 100%;
  height: 100px;
  padding: 8px 15px;;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size:1.0em;
  resize: none;
}

input[type=email],input[type=text],input[type=date],input[type=tel]{
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:1.0em;
  display:inline-block;
}

button[type=submit],button[type=reset] {
  width: 49%;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  display:inline-block;
}

button[type=submit]:hover, button[type=reset]:hover{
  background-color: lightgray;
}

select{
  width: 60%;
  padding: 8px 10px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:1.0em;
  display:inline-block;
}

.posta-container {
top:2%;
width:90%;
position: fixed;
left:50%;
margin-left:-45.0%;
background-color:rgba(127,127,127,0.9);
display:none;
height:500px;
box-sizing:border-box;
padding:2%;
z-index:99;
overflow-y:auto;
}





.posta-container .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size:2em;
  margin-left: 25px;
  cursor:pointer;
}


div#poruka{
	width:100px;
	height:30px;
	margin:auto;
	color:red;
	cursor:pointer;
	font-size:1.3em;

}



header img{
	width:100%;
	height:150px;
}





footer:after {
  content: "";
  display: table;
  clear: both;
  }
  .footer {
  width: 33.33%;
  float: left;
  box-sizing:border-box;
  margin:0px auto;
  font-size:0.8em;
	}

div.footer > p {
	text-align:center;
	}

div.footer > p.left {
	text-align:left;
	font-size:1.5em;
	}
	
h1 {
	text-align:center;
}

aside a {
display: inline-block;
padding:0.5em;
}
aside > a {
	font-size:2em;
}

.slides{
  width: 100%;
  height: auto;;
  animation-name:fade;
  animation-duration:1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

	
aside .reklame  {
color:#FF9933;;
animation-name:fade1;
  animation-duration:1.5s;
}
aside .reklame .text{
text-align:center;
margin:10px;
}


aside .reklame img{
	width:100%;
	height:150px;
	border:3px solid #FF9933;
box-sizing:border-box;

	}

#zec> img{
	width:200px;
	height:100px;
	float:left;
	padding:5px;
	border:solid 1px #ccc;
  margin:0 10px 10px 0;
	border-radius:50%;
}
#retusiranje> img{
	width:200px;
	height:100px;
	float:right;
	padding:5px;
	border:solid 1px #ccc;
  margin:0 0 10px 10px;
	border-radius:50%;
}	
	#djelo img{
	width:200px;
	height:100px;
	float:left;
	padding:5px;
	border:solid 1px #ccc;
  margin:0 10px 10px 0;
	border-radius:50%;
}	

article.usluga:after {
  content: "";
  display: table;
  clear: both;
}
article.usluga{
  border-bottom:solid 1px #333;
}
article.usluga:last-child{
  border-bottom:none;
}

.gallery {
	  border: 1px solid #ccc;
	  padding:5px;
	  width: 50%;
	  float:left;
	  box-sizing: border-box;
	}

	.gallery:hover {
		border: 1px solid #777;
	}

	.gallery img {
		width: 100%;
		height: auto;
	}

	.desc {
	  padding: 15px;
	  text-align: center;
	}
	
	/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.poruka{
	width:80%;
	margin:20px auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;

}
iframe{
border:1px solid red;
text-align:center;
box-sizing: border-box;
width:100%;
height:450px;  
}


table, th, td {
  border: 1px solid black;
}
table{
width:100%;
}
	
div #tecajna
{
overflow-x:auto;
}
	
#tecajna>table{
  width:100%;
}	
#tecajna table,#tecajna th,#tecajna td {
  border: 1px solid black;
}
#tecajna tr:nth-child(even) {
background-color:lightgray;
}	
	







/*
.fade1 {
	animation-name:fade1;
  animation-duration:1.5s;
  }


@keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}
}	
*/

/* Tableti */

@media only screen and (min-width:640px)
{
body{
	//background-image:url(../slike/pocetna.png);
	background-color:#eee;
	font-family:Arial,Helvetica,sans-serif;
	//line-height:1.8em;
	font-size:1.1em;
}




/* Desktop i prijenosna racunala */

@media only screen and (min-width:800px)
{
	
body{
	//background-image:url(/slike/pocetna.png);
	background-color:#eee;
	font-family:Arial,Helvetica,sans-serif;
	//line-height:1.6em;
	font-size:1.0em;
}

main {
box-sizing:border-box;
width:66.66%;
float:left;
//padding:15px;
}


aside {
box-sizing:border-box;
width:33.33%;
float:left;
padding:2%;
}

aside a {
display: inline;
padding:0.5em;
}

hr
{
clear:both;
}






.topnav ul > li a.open-menu  {
display:none;
}

.topnav ul > li:not(.open-menux) {
display: inline-block;
	padding: 10px;
	margin:0;

}
.topnav.responsive ul > li:not(.open-menux) {
display: inline-block;
	padding: 10px;
	margin:0;
}



}







